<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>indexser</servlet-name>
        <servlet-class>first_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adpage</servlet-name>
        <servlet-class>adpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_stud</servlet-name>
        <servlet-class>create_stud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_stud</servlet-name>
        <servlet-class>update_stud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_result</servlet-name>
        <servlet-class>stud_result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_stud</servlet-name>
        <servlet-class>check_stud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_password</servlet-name>
        <servlet-class>update_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sanswer</servlet-name>
        <servlet-class>sanswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manswer</servlet-name>
        <servlet-class>manswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comanswer</servlet-name>
        <servlet-class>comanswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gkanswer</servlet-name>
        <servlet-class>gkanswer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexser</servlet-name>
        <url-pattern>/first_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adpage</servlet-name>
        <url-pattern>/adpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_stud</servlet-name>
        <url-pattern>/create_stud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_stud</servlet-name>
        <url-pattern>/update_stud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_result</servlet-name>
        <url-pattern>/stud_result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_stud</servlet-name>
        <url-pattern>/check_stud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_password</servlet-name>
        <url-pattern>/update_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sanswer</servlet-name>
        <url-pattern>/sanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manswer</servlet-name>
        <url-pattern>/manswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comanswer</servlet-name>
        <url-pattern>/comanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gkanswer</servlet-name>
        <url-pattern>/gkanswer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
